<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!-- Design probably unconsciously ripped off of one of Clayton Nguyen's.
I'll put a link to a homepage of his when I find one. -->

<html xmlns="http://www.w3.org/1999/xhtml">
    <head profile="http://www.w3.org/2005/10/profile">
        <meta http-equiv="Content-type" content="text/html;charset=iso-8859-1" />
        <link rel="stylesheet" type="text/css" href="/~cdchawth/static/style.css" />
        <link rel="icon" type="image/png" href="/~cdchawth/static/200px-Verius2.png" />
        <script type="text/javascript" src="/~cdchawth/static/jquery.js"></script>
        <script type="text/javascript" src="/~cdchawth/static/comment_functions.js"></script>
        <title>Christopher Hawthorne</title>
    </head>
    <body>
        $page_content$
    </body>
</html>
