<h1>Files</h1>

<hr />
<p><a href="/~cdchawth/static/resume_cs.html">My CS r&eacute;sum&eacute;</a></p>
<p><a href="/~cdchawth/static/resume_math.html">My math r&eacute;sum&eacute;</a></p>

My r&eacute;sum&eacute;s are hand-crafted XHTML 1.0 Transitional,
validated by the
<a href="http://validator.w3.org/check?uri=http%3A%2F%2Fcsclub.uwaterloo.ca%2F~cdchawth%2Fstatic%2Fresume_cs.html">w3c</a>
<a href="http://validator.w3.org/check?uri=http%3A%2F%2Fcsclub.uwaterloo.ca%2F~cdchawth%2Fstatic%2Fresume_math.html">
    validator</a>.
<br />
Be impressed. Be <em>very</em> impressed.
<p><a href="/~cdchawth/static/2012-04-01-200403_1280x800_scrot.png">My hour of triumph</a></p>
<p><a href="/~cdchawth/static/pattern_matching_reference.txt">Quick reference for globbing 
    patterns and regexen</a>
<br />
That's right, regexen. I'm <em>always</em> in an
<a href="http://en.wikipedia.org/wiki/Regexen#cite_ref-Apocalypse5_3-1">
Anglo-Saxon mood</a>.</p>
